.aside {
  width: 196px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 78px;
  padding: 10px 0 40px 16px;
  color: var(--var-second-font-color);
}

.aside__nav {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.aside__ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
  transform: translateY(-9px);
}

.aside__ul_subscriptions {
  gap: 13px;
}

.aside__h3 {
  color: var(--var-accent-font-color);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 15px;
}

.aside__button {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 16px;
  width: 100%;
  color: var(--var-second-font-color);
  cursor: pointer;
  height: 36px;
  padding-left: 15px;
}

.aside__button:hover {
  color: var(--var-hover-color);
  background-color: var(--var-bgc-hover-color);
  border-radius: 20px;
}
.aside__button:hover .aside__icon svg path {
  fill: var(--var-hover-color);
}

.aside__button_active:hover {
  color: var(--var-important-font-color);
}
.aside__button_active:hover .aside__icon svg path {
  fill: var(--var-important-font-color);
}

.aside__button_subscriptions {
  gap: 11px;
}

.aside__button_footer {
  color: var(--var-forth-font-color);
}

.aside__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  overflow: hidden;
}

.aside__button_active {
  color: var(--var-important-font-color);
}

.aside__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
}

.aside__icon svg path {
  fill: var(--var-third-bg-color);
}

.aside__button_active .aside__icon svg path {
  fill: var(--var-important-font-color);
}
