@import "variables.css";

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  margin-top: 20px;
}

/* #region HEADER*/

.header {
  height: 84px;
  display: flex;
  gap: 60px;
}

.header__left {
  width: 196px;
  height: 100%;
  padding-left: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__burger-button {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 116px;
}

.header__right {
  flex: 1;
  height: 100%;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search-bar {
  width: min(50%, 830px);
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--var-second-bg-color);
  border-radius: 22px;
  padding: 0 17px 0 23px;
}

.header__search-input {
  flex: 1;
  border: none;
  outline: none;
  background-color: inherit;
  padding: 0;
  font-size: 16px;
}

.header__search-input:focus {
  border: none;
  outline: none;
  background-color: inherit;
}

.header__search-input::placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: var(--var-third-font-color);
}

.header__search-button {
  display: flex;
  align-items: center;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header__button,
.header__userpic {
  display: flex;
  align-items: center;
}

.header__button_notifications {
  position: relative;
}

.header__notifications {
  position: absolute;
  top: -6px;
  left: 9px;
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: var(--var-important-font-color);
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
}
.header__userpic {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}

/* #endregion*/

.main {
  flex: 1;
  display: flex;
  gap: 60px;
}

/* #region ASIDE*/
.aside {
  width: 196px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  padding: 0 0 40px 32px;
  color: var(--var-second-font-color);
}

.aside__nav {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.aside__ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aside__ul_subscriptions {
  gap: 30px;
}

.aside__h4 {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
}

.aside__button {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 16px;
  width: 100%;
  color: #898989;
  cursor: pointer;
}

.aside__button_subscriptions {
  gap: 11px;
}

.aside__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  overflow: hidden;
}

.aside__button_active {
  color: red;
}

.aside__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.aside__icon svg path {
  fill: var(--var-third-bg-color);
}

.aside__button_active .aside__icon svg path {
  fill: red;
}

/* #endregion*/

.article {
  flex: 1;
}
