:root {
  --var-main-bg-color: #fff;
  --var-second-bg-color: #f9f9f9;
  --var-third-bg-color: #c8c4c4;
  --var-forth-bg-color: #f1f1f1;
  --var-main-font-color: #19202c;
  --var-second-font-color: #898989;
  --var-third-font-color: #a9acb4;
  --var-forth-font-color: #c2c2c2;
  --var-fifth-font-color: #fff;
  --var-sixth-font-color: #fff;
  --var-seventh-font-color: #c2c2c2;
  --var-important-font-color: #ff0000;
  --var-important-dark-font-color: #d40000;
  --var-accent-font-color: #000;
  --var-burger-button-color: #1f2022;
  --var-burger-button-hover-color: #6f7072;
  --var-video-description-color: #c2c2c2;
  --var-section-nav-color: #c2c2c2;
  --var-section-nav-arrow-color: #fff;
  --var-header-description-font-color: #c2c2c2;
  --var-mobile-nav-line-color: #f1f1f1;
  --var-mobile-nav-icon-color: #c2c2c2;
  --var-hover-color: #7d7d80;
  --var-bgc-hover-color: #f2efef;
}

.dark_mode {
  --var-main-bg-color: #17171e;
  --var-second-bg-color: #2c2c33;
  --var-third-bg-color: #747478;
  --var-main-font-color: #fff;
  --var-second-font-color: #8b8b8e;
  --var-third-font-color: #808085;
  --var-forth-font-color: #c8c4c4;
  --var-fifth-font-color: #fff;
  --var-sixth-font-color: #888484;
  --var-seventh-font-color: #78747c;
  --var-important-font-color: #ff0000;
  --var-accent-font-color: #fff;
  --var-burger-button-color: #fff;
  --var-burger-button-hover-color: #c1bdbd;
  --var-video-description-color: #747478;
  --var-section-nav-color: #2e2e34;
  --var-section-nav-arrow-color: #828285;
  --var-header-description-font-color: #c2c2c2;
  --var-mobile-nav-line-color: #77777b;
  --var-mobile-nav-icon-color: #747478;
  --var-hover-color: #c8c4c4;
  --var-bgc-hover-color: #454548;
}
