:root {
  --var-main-bg-color: #fff;
  --var-second-bg-color: #f9f9f9;
  --var-third-bg-color: #c8c4c4;

  --var-main-font-color: #19202c;
  --var-second-font-color: #898989;
  --var-third-font-color: #a9acb4;
  --var-important-font-color: #ff0000;
  --var-accent-font-color: #000;
}

.dark_mode {
  --var-main-bg-color: #17171e;
  --var-second-bg-color: #2c2c33;
  --var-third-bg-color: #747478;

  --var-main-font-color: #fff;
  --var-second-font-color: #8b8b8e;
  --var-third-font-color: #808085;
  --var-important-font-color: #ff0000;
  --var-accent-font-color: #fff;
}
